.btn {
    background-color: DodgerBlue;
    border: none;
    color: white;
    padding: 12px 12px;
    font-size: 12px;
    cursor: pointer;
}

/* Darker background on mouse-over */
.btn:hover {
    background-color: RoyalBlue;
}